@font-face {
    font-family: 'FiraMono-Medium';
    src: url("../resources/FiraMono-Medium.ttf");
}

@font-face {
    font-family: 'OverpassMono-VariableFont_wght';
    src: url("../resources/OverpassMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Comfortaa-VariableFont_wght';
    src: url("../resources/Comfortaa-VariableFont_wght.ttf");
}

/*palette
  <color name="Rose Ebony" hex="583A3C" r="88" g="58" b="60" />
  <color name="Space Cadet" hex="273451" r="39" g="52" b="81" />
  <color name="Smoky Black" hex="131112" r="19" g="17" b="18" />
  <color name="Raisin Black" hex="28202D" r="40" g="32" b="45" />
  <color name="Caput Mortuum" hex="512A2B" r="81" g="42" b="43" />
palette*/

.is-font-comforta-variable {
  font-family: 'Comfortaa-VariableFont_wght', sans-serif;
}

.is-font-overpass-mono {
  font-family: 'OverpassMono-VariableFont_wght', sans-serif;
}

.button {
  font-family: 'FiraMono-Medium', sans-serif;
}

.title {
  font-family: 'Comfortaa-VariableFont_wght', sans-serif;
}